.menuToggle {
  position: fixed;
  top: 50px;
  right: 50px;
  font-size: 25px;
  cursor: pointer;
  color: #fff;
  transition: opacity, right .22s ease-in;
  z-index: 100;
}

.menuToggle:hover {
  opacity: .7;
}

.menuToggle.open {
  right: 350px;
}